@use "./colors" as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

button,
a,
body {
	font-family: "Poppins", sans-serif;
}

body {
	font-size: 1.6rem;
	background-color: #262626;
}

.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	padding: 0 2em;

	&__link {
		font-size: 2.4rem;
		text-decoration: none;
		color: white;
		transition: transform 0.5s, color 0.5s;

		&:hover {
			transform: scale(1.1);
			color: #dedede;
		}
	}

	&__title {
		font-size: 3rem;
		color: white;
	}

	&__icon {
		color: $border;
	}
}

.main {
	padding: 2em 0;

	&__section {
		color: white;

		&-top {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&-rawg {
			padding: 0 2em;
			text-decoration: none;
			color: white;
			text-transform: uppercase;
		}

		&-name {
			font-size: 5rem;
			padding: 1em;
			letter-spacing: 2px;
		}

		&-list {
			// margin: 2em 0;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			list-style: none;
		}

		&-item {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			width: 90%;
			height: 90%;
			margin: 0.2em;
			padding-bottom: 0.5em;
			overflow: hidden;
			border: 1px solid $border;
			border-radius: 15px;
			font-size: 2.4rem;
			text-decoration: none;
			color: white;
			background-color: black;
			cursor: pointer;
			transition: transform 0.5s;

			&:hover {
				transform: scale(1.025);
			}

			&-img {
				object-fit: cover;
				object-position: center;
				width: 100%;
				height: 50%;
			}

			&-name {
				padding-top: 0.15em;
				text-align: center;
			}

			&-stats {
				display: flex;
				justify-content: space-around;
				width: 100%;
				padding: 0.2em 0;
				font-size: 1.8rem;
			}

			&-relesedate {
				font-size: 1.4rem;
			}
		}
	}
}

.mainsub {
	&__section {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 85vh;
		color: white;

		&-left {
			display: flex;
			align-items: center;
			width: 100%;
			padding: 1em;
		}

		&-right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
			height: 100%;
			padding-bottom: 2em;
		}

		&-img {
			height: auto;
			width: 100%;
			object-fit: cover;
			border-radius: 15px;
		}

		&-name {
			font-size: 3.2rem;
			text-align: center;
		}

		&-stats {
			display: flex;
			justify-content: space-around;
			padding: 2em 1em;
		}

		&-list {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			list-style-type: none;
		}

		&-item {
			width: 300px;
			height: 150px;
			margin: 0.5em;
			border: 1px solid $border;
			border-radius: 10px;
			overflow: hidden;
		}

		&-ss {
			width: 100%;
			height: 100%;
			object-fit: cover;
			// border: 1px solid $border;
			// border-radius: 10px;
			cursor: pointer;
			transition: transform .5s;

			&:hover {
				transform: scale(1.05);
			}
		}
	}
}
